html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    background-color: #FFFFFFFF;
    color: #475467;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 80px;
    border: solid 1px #EAECF0;
    padding: 0 112px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu__list {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0 32px;
}

.menu__list > li:hover .sub-menu__list {
    display: block;
}

.menu__link {
    padding-bottom: 35px;
}

.user__actions {
    display: flex;
}

.user-actions__sign-up {
    padding: 8px 22px;
    color: #0153C0;
    border: solid 2px #0153C0;
    border-radius: 4px;
}

.user-actions__log-in {
    color: #0C111D;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 8px 14px;
    margin-right: 10px;
}

.slogan__header span {
    position: relative;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    width: 49px;
    height: 24px;
    left: 35px;
}

.slogan__header span::before {
    position: absolute;
    content: '';
    left: -30px;
    height: 21px;
    width: 25px;
    top: 2px;
    background-image: url("../image/header-heart.svg");
}

.sub-menu__list {
    position: absolute;
    padding: 32px 20px 20px 72px;
    top: 52px;
    width: 336px;
    border-radius: 6px;
    box-shadow: 0 4px 6px #10182808;
    border: solid 1px #EAECF0;
    /*display: none;*/
}


.sub-menu__list-solution {
    left: -95px;
}


.sub-menu__list-support {
    left: 450px;
}

.sub-menu__list-about {
    display: none;
    height: max-content;
    width: 640px;
    padding: 20px;
    left: 180px;
    columns: 2;
}

.sub-menu__list-about:hover {
    display: block;
}

.sub-menu__list-about li {
    background-clip: content-box;
    padding-left: 45px;
}

.sub-menu__list-products{
    left: 60px;
}

.sub-menu__link {
    color: #101828;
    min-width: 170px;
    display: inline-block;
    padding: 10px 30px 10px 10px;
}

.sub-menu__link p {
    color: #475467;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 10px 5px  0 0;
    margin: 0;
    width: 224px;
}

.sub-menu-icon-position::before {
    position: absolute;
    display: block;
    content: '';
    left: 35px;
}

.sub-menu__premium::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/solution-premium.svg");
}

.sub-menu__unmanaged::before {
    height: 20px;
    width: 19px;
    background-image: url("/image/solution-unmanaged.svg");
}

.sub-menu__privat::before {
    height: 20px;
    width: 18px;
    background-image: url("/image/solution-privat.svg");
}

.sub-menu__cloud::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/products-cloudhosting.svg");
}

.sub-menu__collaborate::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/products-collaborate.svg");
}

.sub-menu__compute::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/products-compute.svg");
}

.sub-menu__database::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/products-database.svg");
}

.sub-menu__about::before {
    height: 20px;
    width: 20px;
    background-image: url("/image/about-about.svg");
}

.sub-menu__blog::before {
    height: 18px;
    width: 18px;
    background-image: url("/image/about-blog.svg");
}

.sub-menu__security::before {
    height: 22px;
    width: 18px;
    background-image: url("/image/about-security.svg");
}

.sub-menu__brand::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/about-brand.svg");
}

.sub-menu__contact::before {
    position: absolute;
    display: block;
    content: '';
    left: 335px;
    height: 18px;
    width: 18px;
    background-image: url("/image/about-contact.svg");
}

.sub-menu__open::before {
    position: absolute;
    display: block;
    content: '';
    left: 335px;
    height: 24px;
    width: 24px;
    background-image: url("/image/about-openSource.svg");
}

.sub-menu__legal::before {
    position: absolute;
    display: block;
    content: '';
    left: 335px;
    height: 24px;
    width: 24px;
    background-image: url("/image/about-legal.svg");
}

.sub-menu__careers::before {
    position: absolute;
    display: block;
    content: '';
    left: 335px;
    height: 24px;
    width: 24px;
    background-image: url("/image/about-careers.svg");
}

.sub-menu__customer::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/support-support.svg");
}

.sub-menu__community::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/support-community.svg");
}

.sub-menu__join::before {
    height: 24px;
    width: 24px;
    background-image: url("/image/support-join.svg");
}

.sub-sub-menu__list {
    position: absolute;
    max-width: 541px;
    height: 540px;
    top: 0;
    left: 100%;
    padding: 0 0 0;
}

.sub-sub-menu__list{
    /*display: none;*/
}

.sub-menu__list > li:hover .sub-sub-menu__list {
    display: block;
}

.sub-sub-menu__list > ul {
    display: flex;
    background: #F9FAFB;

}

.sub-sub-all-products__link::after {
    position: absolute;
    display: block;
    content: '';
    height: 15px;
    width: 15px;
    background-image: url("/image/Icon-arrow.svg");
}

.menu__link__solution,
.menu__link__about,
.menu__link__products,
.menu__link__support {
    position: relative;
    padding-right: 32px;
}

.menu__link__solution::after,
.menu__link__about::after,
.menu__link__products::after,
.menu__link__support::after {
    position: absolute;
    content: '';
    top: 7px;
    right: 9px;
    width: 12px;
    height: 8px;
    background-image: url("../image/arrow-Icon.svg");
}


.menu__item:hover .menu__link::after {
    transform: rotate(-180deg);
}

/*body.mouse .menu__list > li:hover.sub-menu__list {*/
/*    display: block;*/
/*}*/

/*body.touch .sub-menu__list.open {*/
/*    display: block;*/
/*}*/

/*body.touch .arrow {*/
/*    display: block;*/
/*}*/
